<html layout:decorate="~{global/usrLayout}">

<head>
    <title>글 편집</title>
</head>

<body>
<div layout:fragment="content">
    <h1>글 편집</h1>

    <script>
        function submitEditForm(form) {
            form.title.value = form.title.value.trim();

            if (form.title.value.length == 0) {
                toastWarning('제목을 입력해주세요.');
                form.title.focus();
                return;
            }

            form.body.value = form.body.value.trim();

            if (form.body.value.length == 0) {
                toastWarning('내용을 입력해주세요.');
                form.body.focus();
                return;
            }

            form.submit();
        }
    </script>

    <form th:action method="POST" onsubmit="submitEditForm(this); return false;">
        <input type="hidden" name="_method" value="PUT">
        <div>
            <label>번호</label>
            <div th:text="${post.id}"></div>
        </div>

        <div>
            <label>공개</label>
            <input type="checkbox" name="published" th:checked="${post.published}">
        </div>

        <div>
            <label>읽기최소레벨</label>
            <select name="minMembershipLevel" th:value="${post.minMembershipLevel}">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
        </div>


        <div>
            <label>제목</label>
            <input type="text" name="title" th:value="${post.title}">
        </div>

        <div>
            <label>내용</label>
            <textarea name="body" th:text="${post.body}"></textarea>
        </div>

        <button type="submit">글 저장</button>
    </form>
</div>
</body>

</html>